<body>
  <main>
    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12" style="width: 400px">
            <form id="reset-form" action="/forgot-password" method="post">
              <div class="card text-center">
                <div class="card-header h5 text-white bg-primary">Password Reset</div>
                <div class="card-body px-5">
                  <p class="card-text py-2">You can reset your password here.</p>
                  <div class="form-outline">
                    <input
                      type="email"
                      name="email"
                      placeholder="Enter your email"
                      class="form-control mb-3"
                    />
                    <div class="invalid text-danger"><% if (error) { %> <%= error %> <% } %></div>
                    <div class="invalid text-danger"></div>
                  </div>
                  <button type="submit" class="btn btn-primary w-100">Reset password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
