<body>
  <main>
    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12" style="width: 400px">
            <form id="reset-form" action="/reset-password" method="post">
              <div class="card text-center">
                <div class="card-header h5 text-white bg-primary">Đổi mật khẩu</div>
                <div class="card-body px-5">
                  <p class="card-text py-2 fs-5">Bạn hãy nhập mật khẩu mới</p>
                  <div class="form-outline">
                    <input
                      type="password"
                      name="password"
                      placeholder="Enter new password"
                      class="form-control my-3"
                    />
                    <input type="hidden" name="token" value="<%= token %>" />
                    <div class="invalid text-danger"><% if (error) { %> <%= error %> <% } %></div>
                    <div class="invalid text-success">
                      <% if (message) { %> <%= message %> <a href="signin"></a> <% } %>
                    </div>
                    <div class="invalid text-danger"></div>
                  </div>
                  <button type="submit" class="btn btn-primary w-100">Reset password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
