<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  ></section>

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Phòng Trọ Siêu Đẹp
          </h6>
          <p>
            Chúng tôi cung cấp các dịch vụ tìm kiếm phòng trọ, nhà trọ, căn hộ cho thuê trên toàn
            quốc. Với hệ thống thông tin phong phú, đa dạng về diện tích, giá cả, vị trí, tiện nghi,
            chúng tôi tự tin sẽ giúp bạn tìm được căn phòng ưng ý nhất.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Danh mục</h6>
          <p>
            <a href="#!" class="text-reset"> Phòng trọ </a>
          </p>
          <p>
            <a href="#!" class="text-reset"> Nhà trọ </a>
          </p>
          <p>
            <a href="#!" class="text-reset"> Căn hộ </a>
          </p>
          <p>
            <a href="#!" class="text-reset"> Chung cư mini </a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Liên kết</h6>
          <p>
            <a href="#!" class="text-reset"> Trang chủ </a>
          </p>
          <p>
            <a href="#!" class="text-reset"> Đăng tin </a>
          </p>
          <p>
            <a href="#!" class="text-reset"> Tìm kiếm </a>
          </p>
          <p>
            <a href="#!" class="text-reset"> Liên hệ </a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Liên hệ</h6>
          <p>
            <i class="fa fas fa-home me-3"></i>
            Quận Ninh Kiều - TP Cần Thơ
          </p>
          <p>
            <i class="fa fas fa-envelope me-3"></i>
            tran.vi487@gmail.com
          </p>
          <p><i class="fa fas fa-phone me-3"></i> + 01 234 567 88</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#"
      >Website by Trần Bảo Vĩ - Huỳnh Anh Tuấn - Nguyễn Hoàng Tuấn</a
    >
  </div>
  <!-- Copyright -->
</footer>
